PARSE_API_URL='https://api.siliconflow.cn/v1'
PARSE_API_KEY='sk-your_parse_api_key_here'
PARSE_MODEL='Qwen/Qwen3.5-397B-A17B'
CHAT_API_URL='https://api.siliconflow.cn/v1'
CHAT_API_KEY='sk-your_chat_api_key_here'
CHAT_MODEL='Qwen/Qwen3.5-397B-A17B'
PAPER_API_URL=''
PAPER_API_KEY='sk-your_paper_api_key_here'
PAPER_MODEL='Qwen/Qwen3.5-397B-A17B'
ANNOTATOR_API_URL=''
ANNOTATOR_API_KEY='sk-your_annotator_api_key_here'
ANNOTATOR_MODEL='deepseek-ai/DeepSeek-V3'
TRANSLATE_API_URL='https://api.siliconflow.cn/v1'
TRANSLATE_API_KEY='sk-your_translate_api_key_here'
TRANSLATE_MODEL='deepseek-ai/DeepSeek-V3'
