fastapi
uvicorn
PyMuPDF==1.28.2
pymupdf4llm
openai
python-pptx
pywin32
pdf2zh-next
sqlalchemy
pdf2docx
rapidocr
onnxruntime
python-dotenv
Jinja2
aiofiles
python-multipart
requests
deep-translator
pydantic
ocrmypdf
pywebview
